<div class="jumbotron">
    <h1>Welcome</h1>
    <p>fullstack course</p>
</div>
<table class="table">
    <thead>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Image</th>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.category}}</td>
            <td>{{this.price}}</td>
            <td>{{this.image}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>